[submodule "static-site-generator"]
	path = static-site-generator
	url = https://github.com/samgabel/static-site-generator
[submodule "maze-solver"]
	path = maze-solver
	url = https://github.com/samgabel/maze-solver
[submodule "web-crawler"]
	path = web-crawler
	url = https://github.com/samgabel/web-crawler
[submodule "pokedex"]
	path = pokedex
	url = https://github.com/samgabel/pokedex
[submodule "web-server"]
	path = golang/web-server
	url = https://github.com/samgabel/web-server
